<h2><%= @book.title %></h2>
<p><%= @book.page_count %></p>
<hr>
<%= link_to "Edit", edit_book_path(@book), :class => 'btn btn-default'%>
<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger'%>
<%= link_to("index", {:action =>"index" }) %><br />  

<br>
